body {
    font-family: 'Arial', sans-serif;
    background-color: #0c2546;
    background-image: url('../images/network-pattern.png');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

body.index-page {
    position: relative;
    z-index: 1;
}

body.index-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.4) !important;
    z-index: -1;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.header {
    margin-top: 50px;
}

.title {
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
}

.subtitle {
    font-size: 1.5em;
    color: #38bdf8;
    margin-bottom: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #105780;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.2em;
}

nav ul li a:hover {
    background-color: #38bdf8;
    border-radius: 5px;
}

a {
    color: currentcolor;
    font-weight: bold;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 1px solid rgba(0, 187, 222, 1);
    flex-direction:column;
}

.content h1 {
    text-align: center;
}

.content ul {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 80%;
}

.content li{
    text-align: left;
}

.content h1 {
    text-align: center;
}

.content p {
    width: 50%;
    align-self: center;
}

.content p a {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 10px;
    background-color: #38bdf8;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.content-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 1px solid rgba(0, 187, 222, 1); 
}

.content-home h1 {
    text-align: center;
}

.content-home ul {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 80%;
}

.content-home li{
    text-align: left;
}

.content-home h1 {
    text-align: center;
}

.content-home p {
    width: 50%;
    align-self: center;
}

.content-home p a {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 10px;
    background-color: #38bdf8;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.card {
    background-color: rgba(16, 87, 128, 0.8);
    border: 1px solid #38bdf8;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 220px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: -webkit-center;
}

.card:hover {
    background-color: #38bdf8;
    transform: translateY(-10px);
}

.card a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.card-icon {
    font-size: 3em;
    margin-bottom: 10px;
}

footer {
    margin-top: 50px;
    color: #38bdf8;
    font-size: 0.9em;
}
